{% extends 'layout.html.twig' %}

{% block content %}
<p>Salut !</p>
{# if (isset($_SESSION['pseudo'])) {
     echo "Bonjour " . $_SESSION['pseudo'] . ', vous êtes bien connecté(e) !';
} else {
    header('Location: connexion.php');
    exit;
}

?> #}

{% endblock %}
