{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Signaler une erreur</h1>
    <p><strong>Intitulé de la question : </strong>{{question.title}}</p>
    <form method="post">
        <label for='message'> Merci de nous indiquer l'erreur que vous avez repérée.</label> 
        <textarea id='message' name='message'>
        </textarea>
        <input type='submit' value='Valider'>
    </form>
{% endblock %}