{% extends 'layout.html.twig' %}

{% block content %}

    <h1>{{ question['title']}}</h1>
    <img src="assets/images/questions/question-default.jpg" alt="question marks" class="question-image">
    {% include '/Item/_answersForm.html.twig'%}

{% endblock %}


{% block javascript %}

    <script>
        timer = 45;
        continueTimer = true;
        let x = setInterval(function() {
            if (continueTimer){
                timer -= 1;
            }
            document.getElementById("redirection").innerHTML = "Question suivante (" + timer + ")";
            if (timer < 0) {
                location.replace("/");
            }
        }, 1000);

        const pauseTimer = document.querySelector('#pause-timer');
        pauseTimer.addEventListener('click', function(){
            continueTimer = false;
        })
    </script>

{% endblock %}
