<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Quizzy - le plus grand quiz du monde !{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/style.css">
    {% block stylesheet %}{% endblock %}
    <link rel="icon" href="/assets/images/favicon.png">
</head>

<body>

    <header class="mobile-header">
        <div class="logo">
            <a href="/">
                <img src="assets/images/logo-quizzy.svg" alt="Logo de Quizzy" width="50" height="50">
            </a>
        </div>
    </header>
    <header class="wide-screen-header">
        <div class="logo">
            <a href="/">
                <img src="assets/images/logo-quizzy.svg" alt="Logo de Quizzy" width="50" height="50">
            </a>
        </div>
        <nav>
            <ul>
                <li class="btn-home"><a href="/"><img src="assets/images/home.png" width="30" height="30" alt="logo-home"></a></li>
                <li class="btn-add-question"><a href="/add-question"><img src="assets/images/add-question.png" width="30" height="30" alt="logo-add-a-question"></a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>  

    <footer class="mobile-footer">
        <nav>
            <ul>
                <li class="btn-home"><a href="/"><img src="assets/images/home.png" width="30" height="30" alt="logo-home"></a></li>
                <li class="btn-add-question"><a href="/add-question"><img src="assets/images/add-question.png" width="30" height="30" alt="logo-add-a-question"></a></li>
            </ul>
        </nav>
        <p>© Tous droits réservés - Quizzy 2021 - <a href="legalnotices">Mentions légales</a></p>
    </footer>
    <footer class="wide-screen-footer" >
        <p>© Tous droits réservés - Quizzy 2021 - <a href="legalnotices">Mentions légales</a></p>
    </footer>

    {% block javascript %}{% endblock %}
</body>
</html>
