{% extends 'layout.html.twig' %}
{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/legalnotices.css">{% endblock %}

{% block content %}
<h5>Edition du site</h5>
<p style="text-align: center; font-weight: bold;">Quizzy Team<br> <br> 10 rue des Questions <br> 11111 REPONSE</p>
<h5>Directeurs de la Publication :</h5>
<p>Benjamin - Davy - Fouzia - Morgane - Stécie </p>
<h5>Raison Sociale de l’Hébergeur</h5>
<p>GitHub, Inc., 88 Colin P. Kelly Jr. Street, San Francisco, CA 94107, États-Unis.
        Pour contacter cet hébergeur : <a href="https://privacy@github.com/">GitHub</a></p>
<h5>Propriété intellectuelle</h5>
<p>La structure générale ainsi que les logiciels, textes, images animées ou non, son savoir-faire et tous les autres éléments composant le site sont la propriété exclusive de Quizzy.<br>
Les logos et marques des sociétés citées sur le site Quizzy sont la propriété exclusive de leurs auteurs respectifs.<br>
Toute représentation, reproduction, et/ou exploitation, qu’elle(s) soi(en)t partielle(s) ou totale(s), des marques précitées est (sont) interdite(s), sauf accord écrit et préalable de leurs titulaires.
</p>
<h5>Droits d’auteur</h5>
<p>Toute représentation totale ou partielle de ce site par quelle que personne que ce soit, sans l’autorisation expresse de Quizzy est interdite et constituerait une contrefaçon sanctionnée par les articles L. 335-2 et suivants du Code de la propriété intellectuelle.
    L’élaboration de liens hypertextes profonds vers le site Quizzy est interdite sans l’accord exprès et préalable de l’éditeur du site Quizzy.<br>
    Par ailleurs, l’utilisation des informations contenues sur le présent site relève de la seule responsabilité de l’utilisateur. Nous ne pourrions en aucun cas, et pour quelque cause que ce soit, en être tenus pour responsables, et ce, quelque en soit les conséquences. Nous ne sommes responsables d’aucune erreur ou omission sur le présent site.
</p>
<h5>Avertissement général</h5>
<p>La consultation du site Quizzy est proposée aux internautes à titre gratuit et sans aucune garantie de la part de son éditeur.
    Les informations disponibles sur le site Quizzy qui proviennent de sources extérieures ne saurait garantir qu’elles sont exemptes d’erreurs, ni garantir leur complétude, leur actualité, leur exhaustivité ou autre.
    En conséquence, il appartient à l’internaute d’utiliser les informations figurant sur le site Internet à ses risques et de procéder à toute vérification sous sa responsabilité exclusive.<br>
    Quizzy ne serait être tenu responsable de l’interprétation faite par les internautes, quelle qu’elle soit, de tous les renseignements, informations et conseils proposés sur son site, et des conséquences pouvant en découler.<br>
    Les propriétaires des sites marchands, de service, sites persos, sites informatiques (etc.) consultés à partir du site Quizzy sont seuls responsables du respect par eux de l’ensemble des réglementations s’appliquant dans le cadre des prestations offertes aux clients finaux, et notamment, des lois et règlements relatifs à :<br>
    – La vente à distance,<br>
    – La protection du consommateur,<br>
    – La publicité mensongère ou trompeuse,<br>
    – Les prix,<br>
    – La conformité des produits.<br>
    – Toutes les marques citées sont déposées par leurs propriétaires respectifs.<br></p>
<h5>Utilisation de Cookies</h5>
<p>Quizzy vous informe qu’un ou plusieurs cookies (petits fichiers textes) peuvent s’installer automatiquement sur le disque dur de votre ordinateur lors de votre visite sur le site Quizzy. Ces cookies peuvent provenir des partenaires de Quizzy, mais aussi des systèmes de statistiques de Quizzy ou de tous autres services proposés sur le site Quizzy.<br>
    Vous avez la possibilité de supprimer les cookies installés lors de votre visite sur le site Quizzy, à l’aide de la barre d’outils de votre navigateur. La suppression des cookies devra intervenir une fois votre navigation sur le site Quizzy terminée. A défaut, vous êtes informé du fait que l’usage du site Quizzy, ainsi que les services qui y sont proposés, pourront être perturbés, voire empêchés.<br>    
    Le stockage des données personnelles des Utilisateurs est exclusivement réalisé sur les centre de données (“clusters”) localisés dans des Etats membres de l’Union Européenne.</p>
<h5>Nous contacter</h5>
<p>Par email : quizzy@gmail.com</p>
<p>Crédits et copyright photos</p>
{% endblock %}