/* MAIN | MOBILE PART */ 
.main {
    height: 800px;
}
.main .question-section {
    height: 80%;
    text-align: center;
    border: 4px solid #fff;
    border-radius: 25px;
    background-color: var(--form-bg-color);
    margin-top: 1em;
    padding-bottom: 1em;
}
.main .question-title {
    padding: 1em .5em 0 .5em;
    color: #fff;
}
.main .question-home {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main .img-question {
    padding: 1.5em 0;
    margin: auto 0;
}
.main .img-question img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

/* INPUT STYLE */

.input-group {
    background-color: #fff;
    margin: 10px 0;
    position: relative;
    width: 80%;
    border-radius: 10px;
}
.input-group label {
    padding: 12px 30px 12px 20px;
    display: block;
    text-align: center;
    color: #3c454c;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
}
.input-group label:after {
    color: rgb(46, 206, 31); 
    border: 2px solid #d1d7dc;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 2px 3px;
    border-radius: 25px;
    z-index: 2;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
}
.input-group:hover label:after {
    width: 22px;
    height: 22px;
    content: '\2713';

}
.input-group:hover,
.input-group:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #97b3e9;
  transform: translateY(-0.20em);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgb(168, 236, 154);
}
.input-group input {
    order: 1;
    z-index: 2;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.signal {
    color: white;
    font-size: 0.7rem;
    text-decoration: none;
}
.signal:hover {
    color: orangered;
    font-size: 1rem;
    text-shadow: 0px 2px 2px darkblue;
    transition: 0.2s;
}
.signal:hover:after {
    content: "\26A0";
}

/* MAIN | LARGER MOBILE / TABLET PART */

@media screen and (min-width: 600px) {
    .main .question-title {
        padding: 1em .5em 1em .5em;
    }
}

@media screen and (min-width: 800px) {
    .main .img-and-question {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 1em;
    }
    .main .question-section {
        height: 65%;
        width: 90%;
        margin: 0 auto;
        margin-top: 2em;
    }
    .main .img-question {
        width: 40%;
        padding: .6em 0;
    }
    .main .img-question img {
        width: 240px;
        height: 240px;
    }
    .main .question-home {
        width: 60%;
    }
    
}

/* MAIN | LARGER TABLET PART */

@media screen and (min-width: 1024px) {

    .main {
        width: 100%;
    }
    .main .question-section {
        margin: 0 auto;
    }
    body {
        display: flex;
        flex-direction: row-reverse;
    }
    .main-footer-column {
        width: 100%;
    }
    .main {
        display: flex;
        align-items: center;
    }
    .main-footer-column {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: hidden;
    }
}

/* MAIN | WIDE SCREEN (DESKTOP) PART */

@media screen and (min-width: 1280px) {
    body {
        display: flex;
        flex-direction: row;
    }
    .main .question-section {
        height: 65%;
        width: 80%;
        padding-bottom: 0;
    }
    .main .img-question {
        margin: 0 auto;
        padding: 1.2em 0 1em 0;
    }
    .img-and-question {
        margin: 30px;
    } 
    .main .question-home {
        width: 75%;
        margin: 0 auto;
    }
    .main .question-title {
        padding: 1em 0 0 0;
    }
}