/* MAIN | MOBILE PART */ 

.main {
    height: 680px;
}

.main .question-section {
    height: 90%;
    min-width: 320px;
    text-align: center;
    border: 4px solid #fff;
    border-radius: 25px;
    background-color: var(--form-bg-color);
    margin-top: 1em;
    padding-bottom: 1em;
}

.main .question-title {
    padding: 1em .5em 0 .5em;
    color: #fff;
}

.main .question-home {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main .img-question {
    padding: 1.5em 0;
    margin: auto 0;
}

.main .img-question img {
    width: 150px;
    height: 150px;
}

/* INPUT STYLE */

.input-group {
    margin: 10px 0;
    position: relative;
    width: 80%;
    border-radius: 10px;
}
.input-group label {
    text-shadow: 2px 1px 2px white;
    padding: 12px 30px 12px 20px;
    display: block;
    text-align: center;
    color: #232425;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(22, 22, 22, 0.267);
}

label:after {
    border: 2px solid #d1d7dc;
    background-color: #fff;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 20px;
    top: 10px;
}

.good-answer {
    background-color: rgb(196, 233, 196);
}

.good-answer ~ label:after { 
    width: 22px;
    height: 22px;
    content: '\2713';
    color: rgb(46, 206, 31);  
}

.good-answer ~ label {
    /* border: 3px solid rgb(46, 206, 31); */
    border-radius: 10px;
    background-color: rgb(141, 241, 132);
}

.wrong-answer ~ label:after {
    width: 22px;
    height: 22px;
    content: '\1F5D9';
    color: rgb(206, 31, 31); 
}

.wrong-answer ~ label {
    /* border: 3px solid rgb(206, 31, 31); */
    border-radius: 10px;
    background-color: rgba(228, 145, 145, 0.911);
}

.input-group input {
    order: 1;
    z-index: 2;
    position: absolute;
    visibility: hidden;
}

*, *::before, *::after {
    box-sizing: content-box;
}

#next-page-button {
    margin-top: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

#redirection {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(22, 22, 22, 0.267);
    text-decoration: none;
    width: 35%;
}
#redirection:hover {
    text-decoration: none;
    background-color: rgb(157, 190, 255);
    color: white;
    transition: 0.4s; 
}
#pause-timer {
    font-weight: bold;
    margin-left: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    width: 30px;
}
#pause-timer:hover {
    background-color: rgb(226, 78, 78);
    color: white;
    transition: 0.4s; 
}

/* MAIN | LARGER MOBILE / TABLET PART */

@media screen and (min-width: 600px) {

    .main .img-and-question {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 1em;
    }

    .main .question-section {
        height: 70%;
        margin-top: 3em;
    }

    .main .img-question {
        width: 50%;
        padding: .6em 0;
    }
    
    .main .question-home {
        width: 50%;
    }

    .main .question-title {
        padding: 1em .5em 1em .5em;
    }

    .main .img-question img {
        width: 240px;
        height: 240px;
    }
}

@media screen and (min-width: 800px) {

    .main .question-section {
        height: 75%;
        width: 90%;
        margin: 0 auto;
        margin-top: 2em;
    }

    .main .img-question {
        width: 40%;
        padding: .6em 0;
    }
    
    .main .question-home {
        width: 60%;
    }

    .main {
        height: 650px;
    }
}

/* MAIN | LARGER TABLET PART */

@media screen and (min-width: 1024px) {

    .main {
        width: 100%;
    }

    .main .question-section {
        margin: 0 auto;
    }

    body {
        display: flex;
        flex-direction: row-reverse;
    }

    .main-footer-column {
        width: 100%;
    }

    .main {
        display: flex;
        align-items: center;
    }

    .main-footer-column {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: hidden;
    }
}

/* MAIN | WIDE SCREEN (DESKTOP) PART */

@media screen and (min-width: 1280px) {
    body {
        display: flex;
        flex-direction: row;
    }

    .main .question-section {
        height: 80%;
        width: 90%;
        padding-bottom: 0;
    }

    .img-and-question {
        margin: 30px;
    }

    .main .img-question {
        padding: 1.2em 0 1em 0;
    }

    .main .question-home {
        width: 75%;
    }

    .main .question-title {
        padding: 1em 0 0 0;
    
    }
    #redirection {
        width: 25%;
        max-width: 300px;
    }
}