* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/* VARIABLES */

:root {
    --main-bg-color: #9DBEFF;
    --header-footer-color: #346FE5;
    --form-bg-color: #2E70F5;
    --button-bg-color: #1D3E80;
}

/* HEADER | MOBILE PART */

body {
    height: 100vh;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

.wide-screen-header, .wide-screen-footer {
    display: none;
}

.mobile-header {
    width: 100%;
    height: 6em;
    background-color: var(--header-footer-color);
    margin-bottom: 1em;
    text-align: center;
}

.mobile-header .logo img {
    width: 115px;
    height: 115px;
}

.mobile-header .logo {
    padding-top: 2.6em;
}

/* HEADER | LARGER MOBILE / TABLET PART */

@media screen and (min-width: 500px) {

    .mobile-header {
        height: 6.3em;
    }

    .mobile-header .logo img {
        width: 140px;
        height: 140px;
    }
    
    .mobile-header .logo {
        padding-top: 2.4em;
    }

    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 22px;
    }
    
    h3 {
        font-size: 20px;
    }

}

@media screen and (min-width: 800px) {
    
    .mobile-header {
        height: 7em;
    }

    .mobile-header .logo img {
        width: 160px;
        height: 160px;
    }

    body {
        font-size: 18px;
    }

    h1 {
        font-size: 28px;
    }
    
    h2 {
        font-size: 25px;
    }
    
    h3 {
        font-size: 22px;
    }
}

/* HEADER | LARGER TABLET PART */

@media screen and (min-width: 1024px) {

    .mobile-header {
        display: none;
    }

    .wide-screen-header, .wide-screen-footer {
        display: block;
    }

    .wide-screen-header {
        background-color: var(--header-footer-color);
        height: inherit;
    }

    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 27px;
    }
    
    h3 {
        font-size: 24px;
    }
}

/* HEADER | WIDE SCREEN (DESKTOP) PART */

@media screen and (min-width: 1280px) {
    
}





/* MAIN | MOBILE PART */

.main-footer-column {
    background-color: var(--main-bg-color);
}

main {
    padding: 3em 1em 1em 1em;
}

/* MAIN | LARGER MOBILE / TABLET PART */

@media screen and (min-width: 500px) {
}

@media screen and (min-width: 800px) {
}

/* MAIN | LARGER TABLET PART */

@media screen and (min-width: 1024px) {
    body {
        display: flex;
        flex-direction: row-reverse;
    }

    .main-footer-column {
        width: 100%;
    }
}

/* MAIN | WIDE SCREEN (DESKTOP) PART */

@media screen and (min-width: 1280px) {
    body {
        display: flex;
        flex-direction: row;
    }
}





/* FOOTER | MOBILE PART */

.mobile-footer {
    background-color: var(--header-footer-color);
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    height: 4em;
}

.mobile-footer nav {
    width: 100%;
    margin: 0 auto;
}

.mobile-footer i {
    font-size: 35px;
    color: #fff;
}

.mobile-footer i:hover {
    font-size: 40px;
}

.mobile-footer nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: .8em 0 1em 0;
}

.mobile-footer nav ul li {
    width: 5em;
    list-style: none;
    text-align: center;
}

/* FOOTER | LARGER MOBILE / TABLET PART */

@media screen and (min-width: 500px) {
    
}

@media screen and (min-width: 800px) {
    .mobile-footer nav {
        width: 60%;
        margin: 0 auto;
    }
}

/* FOOTER | LARGER TABLET PART */

@media screen and (min-width: 1024px) {
    .mobile-footer {
        display: none;
    }
}

/* FOOTER | WIDE SCREEN (DESKTOP) PART */

@media screen and (min-width: 1280px) {
}