{% extends 'layout.html.twig' %}
{% block content %}
    <h1>Bravo, vous avez répondu correctement à {{ score }} {{ (score <= 1) ? question : questions }} !</h1>
    <a href="/">On recommence ?</a>
{% endblock %}